<div class="container">
    <div class="title">
        Loan Dashboard
    </div>
    <div class="content">
        <div class="cards">
            <div class="card-items">
                <p-card header="QC Pending">
                    24
                </p-card>
            </div>
            <div class="card-items">
                <p-card header="Sanction Pending">
                    854
                </p-card>
            </div>
            <div class="card-items">
                <p-card header="Total Disbursement">
                    2411
                </p-card>
            </div>
            <div class="card-items">
                <p-card header="Rejected">
                    13
                </p-card>
            </div>
        </div>
    </div>
</div>