.container {
    display: flex;
    width: 100%;
    gap: 50px;
}
.menu {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
}
.help {
    width: 30%;
}
::ng-deep .p-card {
    box-shadow: 10px 10px 10px rgba(153, 126, 126, 0.5), 0 6px 20px 0 rgba(107, 107, 107, 0.19);
    background: linear-gradient(90deg, rgb(136, 211, 216) 0%, rgb(175, 222, 191) 80%);
    font-family: 'Trebuchet MS';
}
::ng-deep .p-card-content {
    text-align: justify;
    font-family: 'Trebuchet MS';
    font-size: 12px;
}
::ng-deep .p-inputtext {
    width: 100%;
    font-family: 'Trebuchet MS';
    font-size: 12px;
}
::ng-deep .p-multiselect {
    width: 100%;
    font-size: 12px;
}
::ng-deep .p-button {
    font-family: 'Trebuchet MS';
}
.title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
::ng-deep .p-multiselect {
    font-family: 'Trebuchet MS';
}
.field-set {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.field-set-sub {
    display: flex;
    gap: 10px;
    width: 100%;
}
.inputbox {
    width: 50%;
}
.field-set-sux {
    widows: 100%;
}
.conditions {
    width: 25%;
}
.field-set-sub-buttons {
    display: flex;
    gap: 10px;
    justify-content: end;
}
::ng-deep .p-button {
    width: 120px;
    background: rgb(19,82,87);
    border: 0;
}
label {
    font-size: 12px;
}