<div class="container">
    <div class="menu">
        <div class="title">
            Business Rule Engine
        </div>
        <div class="field-set">
            <div class="field-set-sub">
                <div class="inputbox">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="rulename" />
                        <label for="rulename">Rule Name</label>
                    </p-floatLabel>
                </div>
                <div class="inputbox">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="ruledescription" />
                        <label for="ruledescription">Rule Description</label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="field-set-sux">
                <p-floatLabel>
                    <p-multiSelect [options]="rulemapping" [(ngModel)]="selectedMapping" optionLabel="dropName" />
                    <label for="selectedMapping">Select Rule Mapping</label>
                </p-floatLabel>
            </div>
            <div class="field-set-sub">
                <div class="conditions">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="dpddays" />
                        <label for="dpddays">DPD Days</label>
                    </p-floatLabel>
                </div>
                <div class="conditions">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="activeloans" />
                        <label for="activeloans">Active Loans</label>
                    </p-floatLabel>
                </div>
                <div class="conditions">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="outstandingamount" />
                        <label for="outstandingamount">Outstanding Amount</label>
                    </p-floatLabel>
                </div>
                <div class="conditions">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="jlgactiveloans" />
                        <label for="jlgactiveloans">JLG Active Loans</label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="field-set-sub-buttons">
                <div>
                    <p-button label="Submit" />
                </div>
                <div>
                    <p-button label="View" />
                </div>
            </div>
        </div>
    </div>
    <div class="help">
        <p-card header="Know Your Menu">
            Automated checks on loan sanction conditions can be configured here including credit report bifurcation
        </p-card>
    </div>
</div>