<div class="container">
    <div class="title">
        Admin Dashboard
    </div>
    <div class="counts">
        <div class="cards">
            <p-card header="BC Partners">8</p-card>
        </div>
        <div class="cards">
            <p-card header="BC Branches">231</p-card>
        </div>
        <div class="cards">
            <p-card header="Products">12</p-card>
        </div>
        <div class="cards">
            <p-card header="Disbursements">3400</p-card>
        </div>
    </div>
</div>