<div class="container">
    <div class="title">
        Admin Dashboard
    </div>
    <div class="counts">
        <div class="cards">
            <p-card header="BC Partners">8</p-card>
        </div>
        <div class="cards">
            <p-card header="BC Branches">231</p-card>
        </div>
        <div class="cards">
            <p-card header="Products">12</p-card>
        </div>
        <div class="cards">
            <p-card header="Disbursements">3400</p-card>
        </div>
    </div>
    <div class="pendingsection">
        @for (item of pendingitems; track $index) {
        <div class="pendinglist">
            <div class="pendingitem">
                <div>
                    <i class="pi pi-list-check" style="font-size: 2.5rem"></i>
                </div>
                <div class="pendingsubject">
                    <div>{{item.dropName}}</div>
                    <div>{{item.dropid}}</div>
                    <div>Submitted By: edwinuk</div>
                </div>
            </div>
            <div>
                <p-button label="Authenticate" />
            </div>
        </div>}
    </div>
</div>