.container {
    display: flex;
    width: 100%;
    gap: 50px;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 100%;
}
.title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 5%;
}
.help {
    width: 30%;
}
::ng-deep .p-card {
    box-shadow: 10px 10px 10px rgba(153, 126, 126, 0.5), 0 6px 20px 0 rgba(107, 107, 107, 0.19);
    background: linear-gradient(90deg, rgb(136, 211, 216) 0%, rgb(175, 222, 191) 80%);
}
::ng-deep .p-card-content {
    font-size: 12px;
    font-family: 'Trebuchet MS';
    text-align: justify;
}
.creation {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 60%;
}
.sub-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}
.section-two {
    display: flex;
    width: 100%;
    gap: 10px;
}
.section-three {
    width: 100%;
}
.description {
    width: 70%;
}
.dashboard {
    width: 30%;
}
::ng-deep .p-fieldset {
    height: 200px;
    width: 100%;
    overflow-y:auto;
    font-size: 12px;
    font-family: 'Trebuchet MS';
}
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section-three {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.fieldset {
    width: 40%;
}
.buttons {
    height: 200px;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    justify-content: end;
}
.sub-buttons {
    width: 100%;
}
::ng-deep .p-button {
    background-color: rgb(19,82,87);
    width: 100%;
    border: 0;
    font-family: 'Trebuchet MS';
}
label {
    font-size: 12px;
}
::ng-deep .p-dropdown-items {
    font-size: 12px;
    font-family: 'Trebuchet MS';
}
::ng-deep .p-dropdown-label {
    font-size: 12px;
    font-family: 'Trebuchet MS';
}
.pendingitem {
    display: flex;
    gap: 20px;
    align-items: center;
}
.pendingsubject {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
}
.pendinglist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(19,82,87);
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(90deg, rgb(215, 226, 227) 0%, rgb(162, 194, 173) 80%);
}
.viewsection {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 35%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}