.container {
    display: flex;
    width: 100%;
    gap: 50px;
}
.menu {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}
.help {
    width: 30%;
}
::ng-deep .p-card {
    box-shadow: 10px 10px 10px rgba(153, 126, 126, 0.5), 0 6px 20px 0 rgba(107, 107, 107, 0.19);
    background: linear-gradient(90deg, rgb(136, 211, 216) 0%, rgb(175, 222, 191) 80%);
}
::ng-deep .p-card-content {
    font-family: 'Trebuchet MS';
    text-align: justify;
}
.title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
.field-class {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.field-sets {
    display: flex;
    width: 100%;
    gap: 10px;
}
.fields-one {
    width: 50%;
}
::ng-deep .p-inputtext {
    width: 100%;
}
.fields-two {
    width: 33%;
}
.fields-three {
    width: 33%;
}
.field-four {
    width: 25%;
}
::ng-deep .p-dropdown {
    width: 100%;
}
::ng-deep .p-button {
    width: 100%;
    background: rgb(19,82,87);
    border: 0;
}