<div class="container">
    <div class="menu">
        <div class="title">
            Product Configuration
        </div>
        <div class="field-class">
            <div class="field-sets">
                <div class="fields-one">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="name" />
                        <label for="name">Product Name</label>
                    </p-floatLabel>
                </div>
                <div class="fields-one">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="description" />
                        <label for="description">Product Description</label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="field-sets">
                <div class="fields-two">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="schemecode" />
                        <label for="schemecode">Scheme Code</label>
                    </p-floatLabel>
                </div>
                <div class="fields-two">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="subheadcode" />
                        <label for="subheadcode">Subhead Code</label>
                    </p-floatLabel>
                </div>
                <div class="fields-two">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="inttablecode" />
                        <label for="inttablecode">Interest Table Code</label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="field-sets">
                <div class="fields-three">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="minloanamount" />
                        <label for="minloanamount">Min Loan Value</label>
                    </p-floatLabel>
                </div>
                <div class="fields-three">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="maxloanamount" />
                        <label for="maxloanamount">Max Loan Value</label>
                    </p-floatLabel>
                </div>
                <div class="fields-three">
                    <p-floatLabel>
                    <input type="text" pInputText [(ngModel)]="mininterest" />
                    <label for="mininterest">Min Interest</label>
                </p-floatLabel>
                </div>
                <div class="fields-three">
                    <p-floatLabel>
                    <input type="text" pInputText [(ngModel)]="maxinterest" />
                    <label for="maxinterest">Max Interest</label>
                </p-floatLabel>
                </div>
                <div class="fields-three">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="mintenure" />
                        <label for="mintenure">Min Tenure</label>
                    </p-floatLabel>
                </div>
                <div class="fields-three">
                    <p-floatLabel>
                        <input type="text" pInputText [(ngModel)]="maxtenure" />
                        <label for="maxtenure">Max Tenure</label>
                    </p-floatLabel>
                </div>
            </div>
            <div class="field-sets">
                <div class="fields-one">
                    <p-floatLabel>
                        <p-dropdown [options]="mapping" [(ngModel)]="selectedMapping" optionLabel="dropName" />
                        <label for="selectedMapping">Select Product Mapping</label>
                    </p-floatLabel>
                </div>
                <div class="field-four">
                    <p-button label="Submit" />
                </div>
                <div class="field-four">
                    <p-button label="View" />
                </div>
            </div>
        </div>
    </div>
    <div class="help">
        <p-card header="Know Your Menu">
            Products offered to customers can be configured here with necessary details such as loan amound, scheme code, etc.
        </p-card>
    </div>
</div>